<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Content Accelerator</title>
</head>
<body>
  <h1>Content Accelerator</h1>
  <p>
    <b>W budowie!</b>
  </p>
  <p>
    To jest aplikacja wspomagająca dostęp do treści internetowych w warunkach
    słabego łącza.
  </p>
  <form action="/minimized-page" method="get">
    URL: <input type="url" name="url"><br>
    <input type="submit" value="Idź">
  </form>
  <p>
    Wygenerowano {{ generation_timestamp }}
  </p>
</body>
</html>