<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>
    {% if content != None %}{{ content.title }} - {% endif %}
    Content Accelerator
  </title>
  <style>
    body {
      margin: 0;
      padding: 1.5em;
    }

    #main {
      width: 40em;
      padding-left: 4%;
    }
  </style>
  <script>
    function loadPageFromUrl() {
      const url = document.getElementById("dynamic-url").value;
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          content = JSON.parse(this.responseText);
          document.getElementById("page-content").innerHTML =
            "<p>" + content.text.join("</p>\n<p>") + "</p>";
        }
      };
      xhttp.open("GET", "/minimized-page?url=" + encodeURIComponent(url), true);
      xhttp.send();
    }
  </script>
</head>
<body>
  <div id="main">
    {% if content != None %}
      <h1>{{ content.title }}</h1>
      <div>
        Oryginalny artykuł: <a href="{{ url }}">{{ url }}</a>
      </div>
      <div>
        <h2>Treść artykułu</h2>
        {% for paragraph in content.text %}
          <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <p>
        Linki:
        <ol>
          {% for link in content.links %}
            <li><a href="/?url={{ link.url_quoted }}">{{ link.text }}</a> <a href="{{ link.url }}">(oryginał)</a></li>
          {% endfor %}
        </ol>
      </p>
    {% else %}
      <h1>Content Accelerator</h1>
      <p>
        To jest aplikacja wspomagająca dostęp do treści internetowych w warunkach
        słabego łącza.
      </p>
    {% endif %}
    <form action="/" method="get">
      {% if content != None %}
      Chcesz przeczytać inny artykuł?
      {% endif %}
      Podaj adres strony internetowej:<br>
      <input type="url" name="url"><br>
      <input type="submit" value="Idź">
    </form>
    <div id="page-content">
    </div>
    <div>
      Podaj adres strony internetowej do dynamicznego załadowania:
      <input id="dynamic-url" type="url"><br>
      <button onclick="loadPageFromUrl()">Załaduj</button>
    </div>
  </div>
</body>
</html>